@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin-top: 0%;
  margin: 0;
  padding: 0;
  background-color: #2C3333;
  /* background-color: #f1f1ef; */
  color: #E7F6F2;
}

.centered-contact {
  display: flex;
  justify-content: center;
}


.home-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-blurb {
  margin-top: 30px;
}

.highlight {
  color: #FFC4C4;
}

.highlight-white {
  color: whitesmoke;
}
.highlight-name {
  color: lightskyblue;
}
.highlight-city {
  color: lightcoral;
}

.home-blurb {
  display: flex;
  align-content: flex-start;
}


.carousel-images-fixed {
  max-width: 100%;
  max-height: 300px;
}

#contact {
  border: 1px solid lightblue;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  max-width: fit-content;
}

#contact li {
  list-style: none;
  margin: 5px;
}

#contact-list {
  display: flex;
  justify-content: center;
  padding: 1px;
  margin: 3px;
}
.fa-brands {
  margin: 3px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #222831;
  margin-top: 0px;
  font-family: "Roboto";
}

.navbar a, .navbar a:visited, .navbar a:active {
  color: #A5C9CA;
}

.icon {
  display: inline-block;
}

.icon a {
  color: royalblue;
  text-decoration-line: none;
}
.icon a:hover {
  color: lightblue;
}

.project-pictures {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.project-pictures-title {
  padding-top: 2px;
  display: flex;
  justify-content: center;
}

.project-description-title{
  padding-top: 2px;
  display: flex;
  justify-content: flex-start;
}

.about{
  padding-top: 25px;
  padding-bottom: 25px;
}
.home {
  padding-top: 25px;
}

.campfinder{
  padding: 25px;
  background-color: black;
}


.carousel {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 350px;
  object-fit: cover;
}

.carouselDiv > div > div > button {
  background-color: green !important;
  border-radius: 50% !important;
  height: 12px !important;
  width: 12px !important;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 575px) {

}

/* 
@media screen and (max-width: 625px) {
  .carousel-images-fixed {
    height: 73%;
    width: 83%;
  }
}
@media screen and (max-width: 675px) {
  .carousel-images-fixed {
    height: 76%;
    width: 86%;
  }
}

@media screen and (max-width: 725px) {
  .carousel-images-fixed {
    height: 79%;
    width: 88%;
  }
}

@media screen and (max-width: 775px) {
  .carousel-images-fixed {
    height: 82%;
    width: 91%;
  }
}
@media screen and (max-width: 850px) {
  .carousel-images-fixed {
    height: 85%;
    width: 93%;
  }
}

@media screen and (max-width: 930px) {
  .carousel-images-fixed {
    height: 88%;
    width: 95%;
  }
}
@media screen and (max-width: 1000px) {
  .carousel-images-fixed {
    height: 91%;
    width: 97%;
  }
}

@media screen and (max-width: 1060px) {
  .carousel-images-fixed {
    height: 93rem;
    width: 99rem;
  }
}


@media screen and (max-width: 1150px) {
  .carousel-images-fixed {
    height: 95rem;
    width: 100rem;
  }
} */
